{% extends "app/base.html" %}
{% load static %}

{% block title %}
  Cart
{% endblock %}

{% block content %}
  <h1>Your cart</h1>
  <table class="cart">
    <thead>
      <tr>
        <th>Image</th>
        <th>Product</th>
        <th>Amount</th>
        <th>Price</th>
        <th>Total</th>
        <th>Update amount</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td>
              <a href="{{ product.get_absolute_url }}">
                <img src="{{MEDIA_URL}}{{product.photo}}" width="200" height="200">
              </a>
            </td>
            <td>{{ product.name }}</td>
            
            <td>
              {{ item.quantity }}
            </td>
            <td class="num">${{ item.price }}</td>
            <td class="num">${{ item.total_price }}</td>
            <td>
              <form action="{% url 'cart:cart_add' product.product_id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.update }}
                <input type="submit" value="Обновить">
                {% csrf_token %}
              </form>
            </td>
            <td><a href="{% url 'cart:cart_remove' product.product_id %}">Delete</a></td>
          </tr>
        {% endwith %}
      {% endfor %}
      <tr class="total">
        <td>Total</td>
        <td colspan="4"></td>
        <td class="num">${{ cart.get_total_price }}</td>
      </tr>
    </tbody>
  </table>
  <p class="text-right">
    <a href="" class="button light">To shop</a>
    <a href="#" class="button">Checkout</a>
  </p>
{% endblock %}